@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchStyle{
  width: 100px;
}

.icStyle{
  transform: rotateY(180deg);
}

.status {
  display: flex;
  height: 40px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #CDE6CF;
  justify-content: center;
  align-items: center;
}

.status p {
  color: #3B8E40;
}

.cash {
  display: flex;
  height: 30px;
  padding: 5px 15px;
  border-radius: 15px;
  background-color: #2EA74D;
  justify-content: center;
  align-items: center;
}

.cash p{
  color: #fff;
  font-weight: bold;
}

.MenuTab {
  display: flex;
  height: 30px;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  /* opacity: 0.8; */
  /* border: 1px solid red; */

}

.MenuTab p{
  margin-left: 20px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.MenuTab:focus{
  background-color: #fff;
  border-radius: 8px;
  /* color: #0000; */
  
}

.MenuTab:focus- p{
  /* background-color: #fff;
  border-radius: 8px; */
  color: #0000;
  
}

.ant-menu-item-selected span {
  color: #000;
  font-weight: bold;
}

.ant-layout-header {
  padding: 0px 5px !important;
  /* line-height: normal; */
  line-height: 30px !important;
}

.ant-menu-item li:last-child {
  margin-top: 50px;
}

.sidebarImage {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
   background-color: #F2A54A; 
   color: #fff;
   font-size: 15px;
   font-weight: bold;
  }

  .ant-table-cell{
    font-weight: 500;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
  }

  .MuiDataGrid-columnHeaders.css-z8fhq1-MuiDataGrid-columnHeaders{
    background-color: #F8A94C;
  }

  .custom-header-cell{
    width: 200px;
  }

  .custom-header-cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px; /* change the value to adjust the maximum width */
  }

  /* .MuiDataGrid-colCellTitle {
    padding-right: 8px;
  } */

  .deleteDishbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 70px;
    border: 1px solid #ababab;
    border-radius: 5px;
  }

  .deleteDishbtn:hover{
    color: #2C87FF;
    /* background-color: #2C87FF; */
    border: 1px solid #2C87FF;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeSmall.MuiButton-textSizeSmall.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
    color: #616161;
  }

  .MuiDataGrid-toolbarContainer.css-1j9kmqg-MuiDataGrid-toolbarContainer {
    /* border: 1px solid #fff; */
  }

  .MuiDataGrid-columnHeaderTitle.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    color: #fff;
    font-weight: bold;
  }

  .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiDataGrid-iconSeparator.css-i4bv87-MuiSvgIcon-root{
    display: none !important;
  }
  
  
  
  
  


/* .MenuTab:focus p{
  color: #0000;
} */